<!DOCTYPE html>
<html>
    <head> <title>Home Page</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    </head>
    <body>
        <div class="profile-block">
            <div class="panel text-center">
                <div class="user-heading">
                <!-- <input type="submit" href="{{ url_for('login') }}" class="btn btn-primary mb-2" value="Google Login"></input> -->
                <a class="button" href="/login"><button class="btn btn-primary mb-2" value="Google Login">Google Login</button></a>
            </div>
                </div>
                </div>
                </body>
                </html>